.DS_Store
client/node_modules
node_modules

.idea/*
**/.DS_Store
.vscode/*
.metadata/*
server/build
server/.gradle
server/.idea
server/.settings/org.eclipse.buildship.core.prefs
server/bin/main/application.properties
server/bin/main/com/songspot/server/SongSpotServerApplication.class
server/bin/main/com/songspot/server/controller/SubmitController.class
server/bin/main/com/songspot/server/controller/UserController.class
server/bin/main/com/songspot/server/controller/model/CreateDemoTrack.class
server/bin/main/com/songspot/server/controller/model/DemoTrack.class
server/bin/main/com/songspot/server/controller/model/Genre.class
server/bin/main/com/songspot/server/controller/model/User.class
server/bin/main/com/songspot/server/controller/model/UserLoginParam.class
server/bin/main/com/songspot/server/controller/model/UserLogoutParam.class
server/bin/main/com/songspot/server/controller/model/UserRegisterParam.class
server/bin/main/com/songspot/server/controller/model/UserType.class
server/bin/main/com/songspot/server/exception/ResourceNotFoundException.class
server/bin/main/com/songspot/server/repository/DemoTrackDaoJpa.class
server/bin/main/com/songspot/server/repository/DemoTrackRepository.class
server/bin/main/com/songspot/server/repository/model/AccountModel.class
server/bin/main/com/songspot/server/repository/model/Artist.class
server/bin/main/com/songspot/server/repository/model/AuditModel.class
server/bin/main/com/songspot/server/repository/model/Curator.class
server/bin/main/com/songspot/server/repository/model/CuratorAccount.class
server/bin/main/com/songspot/server/repository/model/CuratorAccountKey.class
server/bin/main/com/songspot/server/repository/model/DemoTrack.class
server/bin/main/com/songspot/server/repository/model/NamedModel.class
server/bin/main/com/songspot/server/repository/model/UserModel.class
server/bin/test/com/songspot/server/controller/SubmitControllerTest.class
